<ion-content>
  <ion-item ng-repeat="image in lists.images" ng-if="$index % 2 === 0">
    <div class="row"> 
      <div class="col col-50" ng-if="$index < lists.images.length">
        <br>
        <p>{{lists.images[$index].name}}</p>
         <img ng-src="{{lists.images[$index].image}}"/>
         <p class="text-right">{{lists.images[$index].price}}</p>
      </div>

      <div class="col col-50" ng-if="$index + 1 < lists.images.length">
        <br>
        <p>{{lists.images[$index + 1].name}}</p>
        <img ng-src="{{lists.images[$index + 1].image}}"/>
        <p class="text-right">{{lists.images[$index + 1].name}}</p>
       </div>     
    </div>
  </ion-item>
</ion-content>