<!-- 

      <ion-content>
        <ion-item ng-repeat="image in images.allImages">
          <div class="row" ng-if="$index % 2 === 0"> 
            <div class="col col-50" ng-if="$index < allImages.length">
              <p>{{image.name}}</p>
              <img ng-src="{{allImages[$index].image}}" width="100%" />
              <p>{{image.price}}</p>
            </div>

            <div class="col col-50" ng-if="$index + 1 < allImages.length">
              <p>{{image.name}}</p>
              <img ng-src="{{allImages[$index + 1].image}}" width="100%" />
              <p>{{image.price}}</p>
            </div>     
          </div>
        </ion-item>
      </ion-content>
 -->